footer{
    width: 100%;
    /* background-color: beige; */
    /* background: url(../../New\ folder/footer-background.png); */
    background: linear-gradient(to right , #2193b0,#6dd5ed);
}

footer .container{
    max-width: 1920px;
    margin: 0 auto;
    padding: 6rem 5rem;
}

footer .container .row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .container .row .col-same{
    width: 23%;
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .container .row .col-1 h2{
    font-size: 2.5rem;
    color: white;
}

footer .container .row .col-1 p{
    font-size: 1.7rem;
    color: white;
}

footer .container .row .col-2 h3{
    font-size: 2.7rem;
    color: white;
}

footer .container .row .col-2 nav ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

footer .container .row .col-2 nav ul li a{
    font-size: 1.7rem;
    /* color: var(--text-color); */
    color: white;
}

footer .container .row .col-3 h3{
    font-size: 2.7rem;
    color: white;
}

footer .container .row .col-3 ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

footer .container .row .col-3 ul li a{
    font-size: 1.7rem;
    /* color: var(--text-color); */
    color: white;
}

footer .container .row .col-4 h3{
    font-size: 2.7rem;
    color: white;
}

footer .container .row .col-4 .same{
    display: flex;
    gap: 7px;
}

footer .container .row .col-4 .same i{
    font-size: 2rem;
    color: white;
}

footer .container .row .col-4 .same .detail-same{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer .container .row .col-4 .same .detail-same p{
    font-size: 1.6rem;
    color: white;
}

footer .container .row .col-4 .same .detail-same a{
    font-size: 1.6rem;
    /* color: var(--text-color); */
    color: white;
}

footer .container .row .col-4 .address{
    display: flex;
    gap: 7px;
}

footer .container .row .col-4 .address i{
    font-size: 2rem;
    color: white;
}

footer .container .row .col-4 .address .address-detail{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

footer .container .row .col-4 .address .address-detail h4{
    font-size: 1.6rem;
    color: white;
}

footer .container .row .col-4 .address .address-detail a{
    font-size: 1.6rem;
    /* color: var(--text-color); */
    color: white;
}



  .social-btn {
    list-style: none;
    width: 60px;
    height: 60px;
    background: #fff;
    margin: 15px;
    border-radius: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 10px -5px rgb(255,255,255,0.1);
    transition: all 0.3s;
    z-index: 10px;
  }
  .social-btn a {
    text-decoration: none;
    color: #fff;
  }
  .social-btn:hover a {
    color: #fff;
  }
  .social-menu .social-btn::before {
    content: attr(tooltip);
    position: absolute;
    top: 0;
    font-size: 0.9em;
    font-weight: bold;
    z-index: -1;
    opacity: 0;
    pointer-events: auto;
    background: #fff;
    padding: 10px;
    color: #000;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;
  }
  .social-menu .social-btn::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    top: 0;
    opacity: 0;
    background: #fff;
    transform: rotate(45deg);
    left: 20%;
    z-index: -2;
    transition: 
      all 0.3s ease-out;
  }
  .social-menu .social-btn:hover::before {
    top: -45px;
    opacity: 1;
  }
  .social-btn:hover::after {
    top: -12px;
    opacity: 1;
  }
  .facebook a {
    color: #3b5999;
  }
  .facebook:hover,
  .facebook:hover .social-btn:before,
  .facebook:hover .social-btn:after {
    background: #3b5999;
  }
  .instagram a {
    color: #962fbf;
  }
  .instagram:hover,
  .instagram:hover .social-btn:before,
  .instagram:hover .social-btn:after {
    background: #962fbf;
  }
  .pinterest a {
    color: #c8232c;
  }
  .pinterest:hover,
  .pinterest:hover .social-btn:before,
  .pinterest:hover .social-btn:after {
    background: #c8232c;
  }
  .linkedin a {
    color: #0072b1;
  }
  .linkedin:hover,
  .linkedin:hover .social-btn:before,
  .linkedin:hover .social-btn:after {
    background: #0072b1;
  }
  
  